#tfg-icon{margin:0 15px 0 4px;position:relative;vertical-align:middle}#dashboard-widgets .postbox-container{min-width:100% !important}.meta-box-sortables.ui-sortable.empty-container{display:none}.wp-menu-separator{display:none}#wordfence_activity_report_widget{display:none}
.form-field.term-parent-wrap,
.form-field.term-description-wrap {
	display: none;
}
.wp-menu-separator {
	display: block !important;
	background: #f1f1f1;
	height:  3px !important;
}
#menu-appearance > a,
#menu-plugins > a,
#menu-media > a,
#toplevel_page_wpseo_dashboard > a,
#toplevel_page_backwpup > a,
#menu-settings > a,
#toplevel_page_Wordfence > a,
#menu-users > a,
#menu-tools > a,
#toplevel_page_wpcf7 > a,
.hide-if-no-js > a,
#toplevel_page_edit-post_type-acf-field-group > a {
	opacity: 0.3;
}