.hero {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/temp/temp-bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	flex-direction: column;
	font-size: 90%;
	&:before {
		width: 100%;
		height: 100%;
		z-index: 2;
		position: absolute;
		background: url(../img/pattern-sqaures.png);
		content: '';
		opacity: 0.5;
	}
	div {
		z-index: 3;
	}
	@media (max-width: $bp-laptop) {
		font-size: 90%;
	}
	@media (max-width: $bp-mobile) {
		font-size: 70%;
	}
}
.hero-brand h2 {
	text-align: center;
	font-size: 125%;
	position: relative;
	z-index: 3;
	span {
		&:first-of-type {
			font-size: em(12);
			letter-spacing: 1em;
			text-transform: uppercase;
			color: white;
			display: block;
			font-weight: $font-regular;
		}
		&:nth-of-type(2) {
			font-size: em(100);
			letter-spacing: -0.05em;
			text-transform: uppercase;
			color: $gold;
			display: block;
		}
		&:last-of-type {
			font-size: $font-medium;
			letter-spacing: 1em;
			text-transform: lowercase;
			color: white;
			display: block;
			margin-bottom: 15px;
			font-weight: $font-regular;
		}
	}
	@media (max-width: $bp-mobile) {
		span:nth-of-type(2) {
			font-size: em(80);
		}
	}
}
.hero-brand {
	padding: em(95) 0;
}
.hero-contact {
	display: flex;
	padding: em(15) 0;
	border-top: solid 1px $light-grey;
	border-bottom: solid 1px $light-grey;
	margin-top: em(30);
	align-items: center;
	justify-content: center;
	color: $light-grey;
	font-size: $font-copy;
}
.hero-contact-block {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	color: $light-grey;
	font-size: $font-copy;
	font-weight: $font-light;
	margin: 0 em(15);
	svg {
		display: block;
		width: auto;
		height: em(17);
		path {
			fill: $gold;
			transition: fill .3s;
		}
	}
	span {
		margin-left: em(10);
		transition: color .3s;
	}
	.no-touch &:hover {
		span {
			color: $white;
		}
		path {
			fill: $white;
		}
	}
}