.post-block {
	width: 32.33%;
	position: relative;
	background-color: $site-bg;
	display: block;
	overflow: hidden;
	margin-bottom: 1%;
	img {
		width: 100%;
		height: auto;
		display: block;
		transition: transform 3s;
	}
	h2 {
		z-index: 2;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $font-medium;
		color: white;
		text-align: center;
		padding: em(25);
		background-color: rgba(0,0,0,0.5);
		transition: all .3s;
		text-decoration: none;
		font-weight: $font-light;
		position: absolute;
		margin: 0;
		&:before {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			margin: auto;
			border: solid 1px white;
			content: '';
			display: block;
		}
	}
	.no-touch &:hover {
		h2 {
			background-color: rgba(0,0,0,0.7);
			color: $gold;
		}
		img {
			transform: scale(2);
			transition: transform 5s;
		}
	}
	@media (max-width: $bp-laptop) {
		font-size: 70%;
	}
	@media (max-width: $bp-tablet) {
		font-size: 90%;
		width: 100%;
		margin-bottom: 10px;
	}
}

.post-image {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: em(50);
	@media (max-width: $bp-tablet) {
		margin-bottom: 0;
	}
}

.post-copy {
	width: 100%;
	background: white;
	padding: em(40);
	margin-bottom: em(50);
	.wysiwyg {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		h1, h2, h3, h4, h5, h6, a {
			color: $red;
			margin-top: 0;
		}
		h1, h2 {
			font-size: $font-large;
		}
		h1 {
			font-size: $font-xl;
		}
		h2 {
			font-size: $font-large;
			margin-bottom: em(5);
		}
		h3 {
			font-size: em(24);
			margin-bottom: em(5);
		}
		h4, h5, h6 {
			font-size: $font-copy;
		}
		a {
			transition: color .3s;
			&:hover {
				color: $text-color;
			}
		}
		h3, h4 {

			font-weight: $font-regular;
		}
		h5, h6 {

		}
		p, ul {
			font-size: em(20);
			margin-bottom: em(40);
			color: $text-color;
		}
		strong, b {
			font-weight: $font-bold;
		}
	}
	@media (max-width: $bp-laptop) {
		font-size: 80%;
	}
}

.post-gal {
	width: 100%;
	margin-bottom: em(50);
}

.post-divider {
	width: 90%;
	border-top: solid 1px $grey;
	height: em(10);
	position: relative;
	margin: 0 auto;
	margin-bottom: em(50);
	&:after {
		content: '';
		width: 80%;
		height: 1px;
		background: $grey;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.post-sub-title {
	width: 90%;
	max-width: em(860);
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-bottom: em(50);
	&:before {
		@extend %pseudos;
		width: 100%;
		height: 1px;
		background-color: $grey;
		top: 0;
		bottom: 0;
		margin: auto;
		transform: translateY(-5px);
	}
	&:after {
		@extend %pseudos;
		width: 75%;
		height: 1px;
		background-color: $grey;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		transform: translateY(5px);
	}
	h1, h2, h3 {
		padding: 0 em(25);
		background-color: $white;
		position: relative;
		z-index: 2;
		text-align: center;
		min-height: em(50);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		&:before {
			@extend %pseudos;
			width: em(50);
			height: em(50);
			border: solid 4px $grey;
			border-radius: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
		span {
			color: $dark-grey;
			font-size: $font-default;
			position: relative;
			z-index: 3;
			font-weight: $font-regular;
			display: block;
			background-color: $white;
		}
	}
	h1 {
		font-size: $font-medium;
	}
	@media (max-width: $bp-laptop) {
		font-size: 80%;
	}
}
.post-item {
	margin-bottom: em(50);
}
.post-header {
	width: 100%;
	position: relative;
	margin-bottom: em(90);
	margin-top: em(40);
	@media (max-width: $bp-laptop) {
		font-size: 70%;
		margin-bottom: em(110);
	}
	@media (max-width: $bp-tablet) {
		margin-bottom: em(40);
		margin-top: 0;
	}
}
.blog-header {
	@media (max-width: $bp-tablet) {
		margin-top: em(40);
	}
}
.post-title {
	position: absolute;
	max-width: 80%;
	z-index: 2;
	bottom: 0;
	transform: translateY(em(30));
	margin: 0 auto;
	text-align: center;
	display: block;
	left: 0;
	right: 0;
	width: 100%;
	div {
		background: $red;
		padding: em(25) em(30) em(30);
		display: inline-block;
		margin: 0 auto;
		text-align: left;
	}
	h1 {
		color: white;
		font-size: $font-large;
		font-weight: $font-regular;
		padding: 0;
		margin: 0;
	}
	span {
		display: block;
		font-size: $font-default;
		color: white;
	}
	@media (max-width: $bp-laptop) {
		transform: translateY(em(70));
	}
	@media (max-width: $bp-tablet) {
		position: static;
		transform: translateY(0);
		max-width: 100%;
		div {
			width: 100%;
		}
		h1 {
			font-size: em(32);
		}
	}
}
.post-flex-container {
	margin: -0.5%;
	> a {
		margin: 0 0.5% 1% 0.5%;
	}
}