.testimonial-form {
	flex: 0 0 300px;
	min-height: 100%;
	margin-bottom: em(50);
	display: block;
	background: lighten($light-grey, 5%);
	@media (max-width: $bp-laptop) {
		width: 100%;
		font-size: 90%;
		order:2;
		flex-grow: 1;
		margin-bottom: em(30);
	}
}
.testimonial-form-container {
	padding: em(20);
}
.testimonial-form h2 {
	color: $text-color;
	text-align: left;
	border-bottom: solid 2px $white;
	padding: 25px;
	font-weight: $font-regular;
}
.testimonial-container {
	flex: 1;
	padding-right: em(40);
	font-size: 90%;
	@media (max-width: $bp-laptop) {
		width: 100%;
		padding-right: 0;
		flex: 0 0 100%;
	}

}
input.testimonial-cf7[type="text"],
input.testimonial-cf7[type="email"],
textarea.testimonial-cf7 {
	border: solid 1px $light-grey;
	padding: 10px;
	outline: 0;
	margin: 3px;
	width: 100%;
	font-size: 14px;
}
input[type="submit"] {
	padding: 15px;
	outline: 0;
	margin: 3px;
	width: 100%;
	text-align: center;
	background: $red;
	color: white;
	border: 0;
	font-family: $font-family;
	font-size: 16px;

}
div.wpcf7-response-output {
	background: white;
}