a {
	text-decoration: none;
	transition: color .3s;
}
.callout {
	font-size: $font-medium;
	color: white;
	font-weight: $font-light;
}
.yellow-title {
	font-size: $font-large;
	color: $gold;
	font-weight: $font-regular;
}